* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grey: rgb(72,84,97);
    --black: rgb(3, 3, 3);
    --shadow:  rgba(0, 0, 0, 0.5);
    --top-bar-height: 78px;
    --yellow: #ffb700;
    --yellow-opacity: rgba(255, 204, 0, 0.75);
    --red: #FF0000;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    height: 1500px;
}

a {
    text-decoration: none;
    color: var(--black);
}

.link-cta {
    display: inline-block;
    width: 100%;
    margin: 2rem auto;
    color: var(--red);
    font-size: 1.3rem;
    font-weight: bold;
}

.header-topbar {
    box-shadow: 0px 1px 3px var(--shadow);
    padding: 0 40px;
    height: var(--top-bar-height);
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
   flex-basis: 60%;
}

.header-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header-menu li a {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 0.78rem;
    position: relative;
}

.header-menu li:first-child a::before{
    content:'';
    position: absolute;
    top: 50%;
    left: -4px;
    width: 52px;
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    width: 52px;
    opacity: 1;
}

.header-menu li a::before {
    content:'';
    position: absolute;
    top: 50%;
    left: -4px;
    width: 0px;
    background-color: var(--yellow);
    transition: .5s;
    opacity: 0;
}
.header-menu li a:hover::before {
    content:'';
    width: 52px;
    opacity: 1;
    border: 1px solid var(--yellow);
}

.header-banner {
    background-image: linear-gradient(
        to right,
        rgba(72,84,97,0.4),
        rgba(40,49,59,0.5)), 
    url('../images/banner-objectif-photo.jpg');
    background-color: var(--grey);
    height: 65vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.header-banner {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-banner h2 {
    font-size: 3rem;
}

.header-banner p {
    margin: 2rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.header-banner .button-action {
    background-color: var(--yellow-opacity);
    font-weight: 700;
    border-radius: 30px;
    padding: 12px 35px;
    text-transform: uppercase;
    color: var(--black);
    top: calc(30%);
}

.header-banner .button-action:hover {
    background: var(--yellow);
}

.arrow {
    position: absolute;
    font-size: 3rem;
}

.arrow a {
    color: white;
}

.arrow-left {
  top: 36%;
  left: 10px;
}

.arrow-right {
    top: 36%;
    right: 10px;
}

section.our-services {
    margin-top: 1rem;
    padding: 0 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

section.our-services h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem 0;
    color: transparent;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.service {
    flex-basis: 25%;
}

.service img {
    margin-bottom: 1.5rem;
}

.service h3 {
    margin: 1.5rem 0;
    text-align: center;
}

.service h3 a {
    font-size: 1.5rem;
    color: var(--red);
    text-transform: uppercase;
}

.service p {
    color: black;
    font-size: 1.25rem;
    width: 250px;
    margin-bottom: 1rem;
    line-height: 1.6rem;
    padding-bottom: 1rem;
}

.service a {
    color: var(--red);
}

.service a:hover {
    color: var(--grey);
}

.service a.link::after {
    content: '>';
    font-size: 1.2rem;
}

/*
@media screen and (max-width: 1200px) {
    html {
        font-size: 10px;
        color: white;
    }
}

@media screen and (max-width: 1005px) {
    .header-menu {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .arrow {
        display: none;
    }
}
*/