* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grey: rgb(72, 84, 97);
    --black: rgb(3, 3, 3);
    --shadow: rgba(5, 4, 4, 0.5);
    --top-bar-height: 78px;
    --yellow: #ffb700;
    --yellow-opacity: rgba(255, 204, 0, 0.75);
    --red: #ff0000;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

main {
    padding: 0 40px;
    width: 80%;
    margin: 0 auto;
}

header h2 {
    font-size: 42px;
}

section {
    margin-top: 1rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 5rem;
}

header h2 {
    font-family: 'Open Sans', sans-serif;
}

section h1 {
    font-size: 2.5rem;
    margin-top: 3rem;
    text-align: center;
}

section h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

section p {
    text-align: center;
    color: #211F1F;
    margin: 2rem 0 1rem 0;
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

h5 {
    font-size: 1.3rem;
    margin: 20px auto;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--black);
}

strong {
    font-weight: bold;
}

address {
    font-style: normal;
}

hr {
    color: #ebebeb;
    border-style: solid;
    width: 90%;
    margin: 0 auto;
}

.link-cta {
    display: inline-block;
    width: 100%;
    margin: 2rem auto;
    color: var(--red);
    font-size: 1.3rem;
    font-weight: bold;
}

.button-cta {
    display: inline-block;
    color: white;
    padding: 18px 25px;
    border-radius: 5px;
    background-color: #ff675b;
    background-image: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,.01) 100%);
    font-size: 1.2rem;
}


.bg-yellow {
    background-color: #fac932;
}

.bg-grey {
    background-color:#F9F9F9;
}

.bg-black {
    background-color: var(--black);
    color: white;
}

.red {
    color: var(--red);
}

.arrow {
    position: absolute;
    font-size: 3rem;
}

.arrow a {
    color: white;
}

.arrow-left {
    top: 36%;
    left: 20px;
}

.arrow-right {
    top: 36%;
    right: 20px;
}

.header-topbar {
    box-shadow: 0px 1px 3px var(--shadow);
    padding: 0 40px;
    height: var(--top-bar-height);
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    flex-basis: 60%;
}

.header-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header-menu li a {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 0.78rem;
    position: relative;
}

.header-menu li:first-child a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    width: 52px;
    border: 1px solid var(--yellow);
    background-color: var(--yellow);
    width: 52px;
    opacity: 1;
}

.header-menu li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    width: 0px;
    background-color: var(--yellow);
    transition: 0.5s;
    opacity: 0;
}

.header-menu li a:hover::before {
    content: "";
    width: 52px;
    opacity: 1;
    border: 1px solid var(--yellow);
}

.header-banner {
    background-image: linear-gradient(to right, rgba(72, 84, 97, 0.4), rgba(40, 49, 59, 0.5)),
        url("../images/banner-objectif-photo.jpg");
    background-color: var(--grey);
    height: 84vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-banner p {
    margin: 2rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.header-banner .button-action {
    background-color: var(--yellow-opacity);
    font-weight: 700;
    border-radius: 30px;
    padding: 12px 35px;
    text-transform: uppercase;
    color: var(--black);
    top: calc(30%);
}

.header-banner .button-action:hover {
    background: var(--yellow);
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.service {
    width: 250px;
    margin: 0 10px;
}

.service img {
    margin-bottom: 1.5rem;
}

.service h3 {
    margin: 1.25rem 0 1rem 0;
    text-align: center;
}

.service h3 a {
    font-size: 1.5rem;
    color: var(--red);
    text-transform: uppercase;
}

.service p {
    color: black;
    width: 250px;
    margin-bottom: 2rem;
    line-height: 1.6rem;
}

.service a {
    color: var(--red);
}

.service a:hover {
    color: var(--grey);
}

.service a.link::after {
    content: ">";
    font-size: 1.2rem;
}

.cameras {
    margin: 40px 20px ;
    padding: 20px;
}
.cameras h2 {
    text-align: left;
}

.cameras h4 {
    text-align: left;
    font-weight: bold;
    font-size: 1.7rem;
}

.cameras p {
    text-align: left;
}

.photowrap {
    margin: 40px 20px;
}

.photowrap .photowrap-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.photowrap .photowrap-item {
    width: 48%;
}

.photowrap .photowrap-item img {
    width: 100%;
    align-self: center;
}


.footer {
    margin: 20px;
    padding: 5rem 20px;
    line-height: 1.8rem;
}
.footer .footer-items {
    padding: 0 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;;
    margin: 0 auto;
    width: 80%;
}

.footer-item {
    width: 25%;
    padding: 0 15px;
    line-height: 2rem;
}

.footer-item .street {
    margin: 10px 0;
}


.footer-item:last-child img {
    float: left;
    margin: 0 1rem;
}

/*
@media screen and (max-width: 1200px) {
    html {
        font-size: 10px;
        color: white;
    }
}

@media screen and (max-width: 1005px) {
    .header-menu {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .arrow {
        display: none;
    }
}
*/
